/*documentFonts*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');

:root {
    --MainColor: #CC2E36;
    --BoxBorderWidth: 5px;
    --paddingSize: 1em;
    --smallFont: 0.6em;
    --SideManuWidth: clamp(150px, 20vw, 400px);

    --scroll: 0;
}

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    margin: 0px;
    font-size: 1.2em;
    font-weight: 400;
    word-spacing: 0.16em;
}

h2 {
    color: var(--MainColor);
}

h3 {
    border-bottom: solid 2px var(--MainColor);
    font-size: 1.35em;
}

strong {
    color: var(--MainColor);
}

a {
    color: var(--MainColor);
}
.textJustify {
    text-align: justify;
}

/*lists*/
ul,
ol {
    padding: 0px 1.2em;
}

ul li::marker {
    color: var(--MainColor);
}

.bigSpaceing li:not(:last-child) {
    margin-bottom: 1.2em;
}
/*background img*/
.backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.background_ParallaxEffect {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}



/*grid style*/
.GridLayout {
    display: grid;
}

.GridLayout.equal2ChildWidth,
.GridLayout.equal2ChildWidthv2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.GridLayout.fr1and2ChildWidth {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.GridLayout.fr2and1ChildWidth {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}


.GridLayout.textNextToImg2for1 {
    grid-template-columns: 2fr 1fr;
    padding: 5%;
    gap: 5%;
    align-items: center;
}

.sceenFlexTemp {
    grid-template-columns: 2fr 1fr;
    padding: max(5%, 3em);
    gap: 5%;
    align-items: center;
    display: flex;
    gap: 5%;
    align-items: center;
}

.twoGrid {
    grid-template-columns: 1fr 1fr;
}

.grid2Uniq>div {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/*positionForElements*/
.flyBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0em 1.2em;
}

.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    WIDTH: fit-content;
    PADDING: 1EM;
}

.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerX {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/*sizeForElements*/

.screen {
    min-height: calc(100vh - 3em);
    position: relative;
    overflow: hidden;
    background-color: white;
}

.box50presentWidth,.box50presentWidth_phoneWidth{
    width: 50%;
    max-width: 30em;
}

.box75presentWidth {
    width: 75%;
    max-width: 43em;
}

/*styleForElements*/
.BoxTopBorder {
    border-top: var(--MainColor) solid var(--BoxBorderWidth);
}

.BoxBottomBorder {
    border-bottom: var(--MainColor) solid var(--BoxBorderWidth);
}

.textCenter {
    text-align: center;
}

p.spanAsNewline span:not(.notNewLine) {
    display: block;
}

.blockSpacing {
    padding: 10%;
}

.blockSpacingSmaller {
    padding: 1% 5%;
}

.Bookmark {
    height: 100%;
    position: absolute;
    background: var(--MainColor);
    width: 2em;
}

.right {
    right: 0px;
}

.bigFont {
    font-size: 1.8em;
}

.paddingAll {
    padding: var(--paddingSize);
}

.textAlign-Left {
    text-align: left;
}


.h3Title {
    color: var(--MainColor);
    margin-bottom: 0.5em;
}

.h3Spacing {
    display: inline-block;
    padding: 3px 20px 0px 20px;
}

.backgroundImg h3.redBoxText.h3Spacing {
    box-shadow: 0px 0px 70px 6PX #000000f7;
}

.redBoxText {
    color: white;
    background-color: var(--MainColor);
}

.card {
    background-color: #ebddb6;
    padding: 1px 2em;
    border-radius: 5px;
    display: inline-block;
}

.card p {
    margin-top: 0.2em;
}

.addQeustion::before {
    content: "";
    height: 1.4em;
    width: 1.4em;
    position: absolute;
    right: 0;
}

.addQeustion {
    padding-right: 1.7em;
    position: relative;
}

.MessgeBlock span:first-child {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

.lineRightToList {
    list-style: none;
    padding: 0px;
}

.RightMarkBorder,
.lineRightToList>li>div:not(.notRightLine) {
    list-style: none;
    border-right: solid var(--BoxBorderWidth) var(--MainColor);
    padding-right: 1em;
}

.backgrayScale-1 {
    background-color: #fafafa;
}

.centerBlock {
    display: block;
    margin: auto;
}


#backToModdle{ text-decoration: none;
    color: white;
    background-color: var(--MainColor);
    padding: 25px 50px;
    font-size: 1.6em;
    text-align: center;
    display: block;   }

#backToModdle:hover{
    background-color:#a5262d;
}
    
    

/*image with cation*/
.imgWithCation {
    position: relative;
}

.imgWithCation img {
    height: 60vh;
}

.caption,
.imgWithCation p {
    font-size: var(--smallFont);
    width: 60%;
    position: absolute;
    margin: 0px;
}

.imgWithCation.small img {
    height: 40vh;
}

.imgWithCation.center img {
    display: block;
    margin: auto;
    z-index: 1;
}

.imgWithCation.center p {
    position: relative;
    margin: 0px auto;
}

/*Bookmark*/
.Bookmark-Horizonal {
    width: 100%;
    position: absolute;
    background: var(--MainColor);
    height: 2vh;
    z-index: 0;
}

.bookmarkHorizontalPoistion1 {
    top: calc(50% - 6em);
}

/*imgDiscriptionOnImg*/
.imgDiscriptionOnImg {
    position: absolute;
    bottom: 5%;
    background-color: black;
    color: white;
    padding: 0.3em 1em;
    font-size: var(--smallFont);
    max-width: 40vw;
    left: 0px;
}

.imgDiscriptionOnImg strong {
    color: white;
}

/*MessgeBlock*/
.MessgeBlock {
    color: black;
    padding: 20px;
    padding-top: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23CC2E36FF' stroke-width='6' stroke-dasharray='6%2c20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 65%;
}

/*Title H1 disigen*/

.MainTitle {
    line-height: 2.7vw;
}

.MainTitle span:first-child {
    display: block;
    font-weight: 500;
    display: flex;
    font-size: 2.5vw;
}

.MainTitle span:nth-child(2) {
    font-size: 3.9vw;
    padding-right: 0.4em;
}


/*object animations*/
.have-scroll-animation {
    transition: all 0.7s linear 0.2s;
}

.aniType-MoveRightToLeft {
    opacity: 0;
    transform: translateX(50%);
}

.aniType-MoveRightToLeft.active-enter-animation {
    opacity: 1;
    transform: translateX(0);
}

.aniType-MoveLeftToRight {
    opacity: 0;
    transform: translateX(-50%);
}

.aniType-MoveLeftToRight.active-enter-animation {
    opacity: 1;
    transform: translateX(0);
}


.aniType-ScaleSmallToBig {
    opacity: 0;
    transform: scale(0);
}

.aniType-ScaleSmallToBig.active-enter-animation {
    opacity: 1;
    transform: scale(1);
}

.aniType-Blur {
    filter: blur(10px) opacity(0);
}

.aniType-Blur.active-enter-animation {
    filter: blur(0) opacity(1);
}


.aniType-Rotate90 {
    rotate: -90deg;
    opacity: 0;
}

.aniType-Rotate90.active-enter-animation {
    rotate: 0deg;
    opacity: 1;
}

.aniType-skewX {
    transform: skewX(-80deg);
    opacity: 0;
}

.aniType-skewX.active-enter-animation {
    transform: skewX(0deg);
    opacity: 1;
}


/*MainNav*/

#myNav {
    animation-name: navSize;
}

#myNav a {
    text-decoration: none;
}

#myNav a:hover span:last-child {
    text-decoration: underline;
}

#myNav {
    position: fixed;
    z-index: 100;
    top: 0px;
    display: flex;
    background-color: #2a2a2a;
    color: white;
    overflow: visible;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
    height: 100vh;
    align-items: center;
    top: 0px;
    width: 100vw;

    font-size: 1.2em;
    line-height: 0.75em;
    text-align: right;
}

#myNav div span:first-child {
    font-size: 0.7em;
    display: inline-block;
}

.NavCircle {
    position: absolute;
    background: var(--MainColor);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    z-index: -1;

    animation-name: navCircle;
}

#navText1 {
    animation-name: NavText1;
}

#navText2 {
    animation-name: NavText2;
}

#navText3 {
    animation-name: NavText3;
}


/*General Scrool Animation*/

.scroolAnimation {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

/* Loading Screen */
.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* RedLine - no used*/
.RedLineContainer {
    background-color: #CC2E36;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 0.5em solid white;
    border-top: 0.5em solid white;
}

.RedLineContainer h2 {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: 0.2em;
}

.RedLineContainer p {
    margin: 0 auto;
    width: clamp(30vw, 90%, 65vw);
}

/* custum scroold bar */
        /* width */
        ::-webkit-scrollbar {
            width: 13px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: white; 
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #CC2E36; 
           
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #b3272e; 
          }
              
        .flexRowWidthScreenOnly{
display: flex; flex-direction: row;
}

/*phone Version*/
@media only screen and (max-width: 720px) {    

    .flexRowWidthScreenOnly{
flex-direction: column;
}
    
    #myNav {
        font-size: 1em;
    }

    #myNav a:hover span:last-child, #myNav a:hover span:hover{
        text-decoration: none;
    }

    /*grid*/
    .fr2and1ChildWidth, .GridLayout.fr2and1ChildWidth {
        grid-template-columns: auto;
        grid-template-rows: 2fr 1fr;
    }

    .twoGrid {
        grid-template-columns: 1fr;
    }

    .GridLayout.equal2ChildWidthv2 {
        grid-template-columns: none;
        grid-template-rows: 2fr 1fr;
    }

    .GridLayout.equal2ChildWidth {
        grid-template-columns: none;
    }

    .GridLayout.equal2ChildWidth.smallToBig,
    .GridLayout.fr1and2ChildWidth {
        grid-template-columns: none;
        grid-template-rows: 1fr 4fr;
    }

    /*mainTitle*/
    .MainTitle {
        line-height: 2.7vh;
    }
    
    .MainTitle span:first-child {
        font-size: 2.2vh;
    }
    
    .MainTitle span:nth-child(2) {
        font-size: 3.9vh;
    }
    
    /*sizrOfElements*/
    .box75presentWidth {
        width: 100%;
    }

    .box50presentWidth_phoneWidth{
        width: 90%;
    }

    .centerX {
        left: auto;
        transform: translateX(0px) !important;
    }


    .sceenFlexTemp {
        flex-wrap: nowrap;
        flex-direction: column;
    }


    .flyBox {
        display: block;
        position: relative;
        margin: 1em auto;
        top: 0px !important;
        left: 0px !important;
        right: 0px !important;
        border: 0px !important;
        width: 75% !important;
        padding: 0.05em 1.2em;
        text-align: justify;
    }
    
    .textJustify{
    text-align: justify;
    }
   
    .centerBox {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        transform: translate(0px, 0px);
        WIDTH: fit-content;
        PADDING: 1EM;
        margin: 1em auto;
        width: 75%;
        height: fit-content;
    }

    .bookmarkHorizontalPoistion1 {
        top: 20vh;
    }

    /*img with cotion*/
    .caption:not(.notChange),
    .imgWithCation p:not(.notChange) {
        position: relative;
    }

    .imgWithCation img {
        height: auto !important;
        width: 80vw;
    }

    .imgWithCation {
        margin: auto;
        margin-bottom: 1em;
    }

}
